html {
    box-sizing: border-box;
}

*,
*:before,
*:after {
    box-sizing: inherit;
}

body {
    margin: 0;
    padding: 0;
    font-family: Arial, Helvetica, sans-serif;
    background-color: #d5e1ef;
    color: #212529;
}

main {
    width: 100vw;
    height: 100vh;
    display: flex;
    flex-direction: column;
    justify-content: center;
    align-items: center;
    row-gap: 10px;
}

.qr-container {
    width: 330px;
    height: 525px;
    display: flex;
    flex-direction: column;
    text-align: center;
    align-items: center;
    padding: 15px;
    border-radius: 20px;
    background-color: #ffffff;
}

.qr-image {
    width: 300px;
    border-radius: 15px;
}

.qr-container p {
    padding: 10px;
    margin-top: 0;
}